<Map>
SettingName=Карта для игры
SettingDescription=Введите название карты, на которой следует начать игру. Например, MAP01.
SettingType=String
Param=+map
NotUseIfEqual=
Default=
</Map>

<Skill>
SettingName=Уровень сложности
SettingDescription=Уровень сложности игры. 0 - минимальный, 4 - максимальный.
SettingType=List
Item0=Очень простой
Value0=0
Item1=Простой
Value1=1
Item2=Нормальный
Value2=2
Item3=Сложный
Value3=3
Item4=Очень сложный
Value4=4
Default=2
Param=+skill
DependsOn0=Map
DependCondition0=NotEqual
DependValue0=
NotUseIfEqual=
NotUsedInClientMode=1
</Skill>

<DMFlags_GZ>
SettingName=DMFlags
SettingDescription=Настроить параметры игры. Некоторые действуют только в мультиплеере.
SettingType=BitFlags
NotUsedInClientMode=1

//8
Flag0=Повреждения при падении (старый алгоритм). Вместе со следующим флагом - алгоритм Strife.
Bit0=3

//16
Flag1=Повреждения при падении (алгоритм Hexen). Вместе с предыдущим флагом - алгоритм Strife.
Bit1=4

//2048
Flag2=Бесконечные боеприпасы
Bit2=11

//4096
Flag3=Выключить монстров
Bit3=12

//8192
Flag4=Восстанавливать монстров
Bit4=13

//16384
Flag5=Восстанавливать предметы
Bit5=14

//524288
Flag6=Восстанавливать мощные powerups (типа неуязвимости)
Bit6=19

//32768
Flag7=Быстрые монстры
Bit7=15

//65536
Flag8=Запретить прыжки (если выключить оба флага, то по умолчанию)
Bit8=16
FlagGroup8=AllowDisallowJump

//131072
Flag9=Разрешить прыжки (если выключить оба флага, то по умолчанию)
Bit9=17
FlagGroup9=AllowDisallowJump

//4194304
Flag10=Запретить приседания (если выключить оба флага, то по умолчанию)
Bit10=22
FlagGroup10=AllowDisallowCrouch

//8388608
Flag11=Разрешить приседания (если выключить оба флага, то по умолчанию)
Bit11=23
FlagGroup11=AllowDisallowCrouch

//262144
Flag12=Запретить фрилук
Bit12=18

//1048576
Flag13=Запретить изменять FOV
Bit13=20

//4
Flag14=Weapons Stay
Bit14=2

//2
Flag15=Запретить powerups
Bit15=1

//1
Flag16=Запретить аптчеки
Bit16=0

//512
Flag17=Запретить броню
Bit17=9

//128
Flag18=Респаун игроков на наибольшем расстоянии
Bit18=7

//64
Flag19=Играть на одной и той же карте
Bit19=6

//256
Flag20=Принудительный респаун
Bit20=8

//1024
Flag21=Запретить выход с уровня
Bit21=10

//2097152
Flag22=Выключить multiplayer-only оружие
Bit22=21

//16777216
Flag23=Терять весь инвентарь при респауне
Bit23=24

//33554432
Flag24=Терять ключи при респауне
Bit24=25

//67108864
Flag25=Терять оружие при респауне
Bit25=26

//134217728
Flag26=Терять броню при респауне
Bit26=27

//268435456
Flag27=Терять powerups при респауне
Bit27=28

//536870912
Flag28=Терять патроны при респауне
Bit28=29

//1073741824
Flag29=Терять половину патронов при респауне
Bit29=30

Param=+dmflags
Port=ZDoom,GZDoom
NotUseIfEqual=0
Default=0
NotUsedInClientMode=1
</DMFlags_GZ>

<DMFlags2_GZ>
SettingName=DMFlags2
SettingDescription=Больше параметров игры. Некоторые действуют только в мультиплеере.
SettingType=BitFlags

//2
Flag0=Выброс оружия при смерти
Bit0=1

//64
Flag1=Двойное количество боеприпасов
Bit1=5

//65536
Flag2=Бесконечные предметы
Bit2=16

//131072
Flag3=Отключить выход пока все монстры не убиты
Bit3=17

//16384
Flag4=Отключить респаун
Bit4=14

//128
Flag5=Дегенерация (убывание здоровья при превышении 100%)
Bit5=7

//8388608
Flag6=Запретить авто-прицеливание
Bit6=23

//4194304
Flag7=Запретить самоубийство
Bit7=22

//256
Flag8=Запретить прицеливание BFG по оси Y
Bit8=8

//262144
Flag9=Запретить показывать карту
Bit9=18

//524288
Flag10=Не отображать союзников на карте
Bit10=19

//1048576
Flag11=Запретить наблюдать за союзниками
Bit11=20

//2097152
Flag12=Разрешить камеру от третьего лица
Bit12=21

//16777216
Flag13=Запретить переключение на оружие, если нет патронов
Bit13=24

//33554432
Flag14=Убийство BossBrain убивает всех его монстров
Bit14=25

//512
Flag15=Восстанавливать бочки
Bit15=9

//1024
Flag16=Временная неуязвимость после респауна
Bit16=10

//32768
Flag17=Потеря фрага при смерти
Bit17=15

//8192
Flag18=Сохранять фраги при переходе на другую карту
Bit18=13

//16
Flag19=Запретить переход из одной команды в другую
Bit19=4

//4096
Flag20=Респаун на месте смерти
Bit20=12

Param=+dmflags2
Port=ZDoom,GZDoom
NotUseIfEqual=0
Default=0
NotUsedInClientMode=1
</DMFlags2_GZ>

<CompatFlags_GZ>
SettingName=Настройки совместимости
SettingDescription=Настроить совместимость игры с картами, созданными для старых версий Doom.
SettingType=BitFlags

//1
Flag0=Включить старый алгоритм поиска коротких текстур
Bit0=0

//2
Flag1=Включить старый алгоритм построения лестниц
Bit1=1

//536870912
Flag2=Включить старый алгоритм поиска ближайшего сектора света
Bit2=29

//4
Flag3=Ограничить количество Lost Soul'ов, создаваемых Pain Elemental'ами
Bit3=2

//8
Flag4=Звук подбора предмета слышим только игроком, взявшим его
Bit4=3

//16
Flag5=Объекты имеют бесконечную высоту
Bit5=4

//64
Flag6=Включить WallRunning
Bit6=6

//128
Flag7=Не подбрасывать в воздух предметы, выбрасываемые монстрами
Bit7=7

//256
Flag8=Линии с действиями блокируют нажатие кнопки "Использовать"
Bit8=8

//512
Flag9=Выключить эффект смены уровня света при открытии двери (как в Boom)
Bit9=9

//1024
Flag10=Включить оригинальную скорость движущихся полов Heretic и Hexen
Bit10=10

//2048
Flag11=Включить старый алгоритм пробуждения монстров
Bit11=11

//4096
Flag12=Включить баг с изменением максимального кол-ва здоровья через DEHACKED
Bit12=12

//8192
Flag13=Игнорировать двусторонние линии внутри секторов при трассировке выстрелов
Bit13=13

//16384
Flag14=Монстры застревают на высоких обрывах (dropoffs)
Bit14=14

//1048576
Flag15=Монстры не могут пересечь высокие обрывы (dropoffs)
Bit15=20

//65536
Flag16=Монстры видят полуневидимых игроков
Bit16=16

//32768
Flag17=Аддитивные движущиеся полы Boom
Bit17=15

//131072
Flag18=Полы, перемещающиеся немедленно издают звук
Bit18=17

//262144
Flag19=Использовать центр сектора как источник звука (в секторе)
Bit19=18

//524288
Flag20=Включить стандартную высоту снарядов
Bit20=19

//2097152
Flag21=A_BossDeath любого монстра включает босс-триггер на уровне
Bit21=21

//4194304
Flag22=Минотавры из Heretic не могут атаковать огнем в воде, лаве и т.д.
Bit22=22

//8388608
Flag23=Оригинальный алгоритм A_Mushroom (как в MBF)
Bit23=23

//16777216
Flag24=На всех монстров действуют эффекты трения, ветра и т.д.
Bit24=24

//33554432
Flag25=Раздавленные монстры могут быть воскрешены
Bit25=25

//67108864
Flag26=Дружественные монстры проходят через линии "block monsters"
Bit26=26

//134217728
Flag27=Оригинальный алгоритм сортировки спрайтов
Bit27=27

//268435456
Flag28=Оригинальный алгоритм трассировки пуль
Bit28=28

//32
Flag29=Испортить звуковую подсистему для включения "глушителя BFG"
Bit29=5

//1073741824
Flag30=Оригинальный алгоритм рендеринга полиобъектов (как в Hexen)
Bit30=30

Param=+compatflags
Port=ZDoom,GZDoom
Default=0
//NotUseIfEqual=0
NotUsedInClientMode=1
DependsOn0=CompatMode_GZ
DependValue0=+compatmode 1
DependCondition0=NotEqual
DependsOn1=CompatMode_GZ
DependValue1=+compatmode 2
DependCondition1=NotEqual
DependsOn2=CompatMode_GZ
DependValue2=+compatmode 3
DependCondition2=NotEqual
DependsOn3=CompatMode_GZ
DependValue3=+compatmode 4
DependCondition3=NotEqual
DependsOn4=CompatMode_GZ
DependValue4=+compatmode 5
DependCondition4=NotEqual
DependsOn5=CompatMode_GZ
DependValue5=+compatmode 6
DependCondition5=NotEqual
DependMode=AND
</CompatFlags_GZ>

<CompatMode_GZ>
SettingName=Профиль совместимости
SettingDescription=Выберите один из заранее настроенных профилей совместимости для игры на старых картах
SettingType=List
NotUsedInClientMode=1

Item0=Doom
Value0=+compatmode 1
Item1=Doom (строгий)
Value1=+compatmode 2
Item2=Boom
Value2=+compatmode 3
Item3=ZDoom 2.0.63
Value3=+compatmode 4
Item4=MBF
Value4=+compatmode 5
Item5=Boom (строгий)
Value5=+compatmode 6

AddEmptyItem=True

Port=ZDoom,GZDoom
Default=
DependsOn0=CompatFlags_GZ
DependCondition0=Equal
DependValue0=0
</CompatMode_GZ>

<DMFlags_ST>
SettingName=DMFlags
SettingDescription=Настроить параметры игры. Некоторые действуют только в мультиплеере.
SettingType=BitFlags
NotUsedInClientMode=1

Flag0=Повреждения при падении (старый алгоритм). Вместе со следующим флагом - алгоритм Strife.
Bit0=3

Flag1=Повреждения при падении (алгоритм Hexen). Вместе с предыдущим флагом - алгоритм Strife.
Bit1=4

Flag2=Weapons Stay
Bit2=2

Flag3=Запретить powerups
Bit3=1

Flag4=Запретить аптчеки
Bit4=0

Flag5=Запретить броню
Bit5=9

Flag6=Респаун игроков на наибольшем расстоянии
Bit6=7

Flag7=Играть на одной и той же карте
Bit7=6

Flag8=Принудительный респаун
Bit8=8

Flag9=Запретить выход с уровня
Bit9=10

Flag10=Бесконечные боеприпасы
Bit10=11

Flag11=Выключить монстров
Bit11=12

Flag12=Восстанавливать монстров
Bit12=13

Flag13=Восстанавливать предметы
Bit13=14

Flag14=Восстанавливать мощные powerups (типа неуязвимости)
Bit14=18

Flag15=Быстрые монстры
Bit15=15

Flag16=Запретить прыжки (если следующий флаг тоже не выбран - по умолчанию)
Bit16=16
FlagGroup16=AllowDisallowJump

Flag17=Разрешить прыжки (если предудыщий флаг тоже не выбран - по умолчанию)
Bit17=29
FlagGroup17=AllowDisallowJump

Flag18=Запретить приседания (если следующий флаг тоже не выбран - по умолчанию)
Bit18=21
FlagGroup18=AllowDisallowCrouch

Flag19=Разрешить приседания (если предудыщий флаг тоже не выбран - по умолчанию)
Bit19=30
FlagGroup19=AllowDisallowCrouch

Flag20=Терять весь инвентарь при респауне
Bit20=22

Flag21=Терять броню при респауне
Bit21=25

Flag22=Терять патроны при респауне
Bit22=27

Flag23=Терять оружие при респауне
Bit23=24

Flag24=Терять ключи при респауне
Bit24=23

Flag25=Выключить multiplayer-only оружие
Bit25=20

Flag26=Терять powerups при респауне
Bit26=26

Flag27=Терять половину патронов при респауне
Bit27=28

Param=+dmflags
Port=Skulltag
NotUseIfEqual=0
Default=0
NotUsedInClientMode=1
</DMFlags_ST>

<DMFlags2_ST>
SettingName=DMFlags2
SettingDescription=Больше параметров игры. Некоторые действуют только в мультиплеере.
SettingType=BitFlags

Flag0=Выброс оружия при смерти
Bit0=1

Flag1=Выключить руны
Bit1=2

Flag2=Немедленно возвращать флаг
Bit2=3

Flag3=Запретить переход из одной команды в другую
Bit3=4

Flag4=Автоматически помещать игроков в команды
Bit4=5

Flag5=Двойное количество боеприпасов
Bit5=6

Flag6=Дегенерация (убывание здоровья при превышении 100%)
Bit6=7

Flag7=Разрешить прицеливание BFG по вертикальной линии
Bit7=8

Flag8=Восстанавливать бочки
Bit8=9

Flag9=Отключить временную неуязвимость после респауна
Bit9=10

Flag10=Начинать игру с шотганом
Bit10=11

Flag11=Респаун на месте смерти
Bit11=12

Flag12=Сохранять принадлежность игроков к командам
Bit12=13

Flag13=Принудительные настройки OpenGL по умолчанию
Bit13=18

Flag14=Начислять очки за повреждения, а не за убийства
Bit14=20

Flag15=Оставить только singleplayer-объекты в кооперативе
Bit15=29

Param=+dmflags2
Port=Skulltag
NotUseIfEqual=0
Default=0
NotUsedInClientMode=1
</DMFlags2_ST>

<CompatFlags_ST>
SettingName=Настройки совместимости
SettingDescription=Настроить совместимость игры с картами, созданными для старых версий Doom.
SettingType=BitFlags

//1
Flag0=Включить старый алгоритм поиска коротких текстур
Bit0=0

//2
Flag1=Включить старый алгоритм построения лестниц
Bit1=1

//536870912
//Flag2=Включить старый алгоритм поиска ближайшего сектора света
//Bit2=29

//4
Flag2=Ограничить количество Lost Soul'ов, создаваемых Pain Elemental'ами
Bit2=2

//8
Flag3=Звук подбора предмета слышим только игроком, взявшим его
Bit3=3

//16
Flag4=Объекты имеют бесконечную высоту
Bit4=4

//32
Flag5=Испортить звуковую подсистему для включения "глушителя BFG"
Bit5=5

//64
Flag6=Включить WallRunning
Bit6=6

//128
Flag7=Не подбрасывать в воздух предметы, выбрасываемые монстрами
Bit7=7

//256
Flag8=Линии с действиями блокируют нажатие кнопки "Использовать"
Bit8=8

//512
Flag9=Выключить эффект смены уровня света при открытии двери (как в Boom)
Bit9=9

//1024
Flag10=Включить оригинальную скорость движущихся полов Heretic и Hexen
Bit10=10

//2048
Flag11=Включить старый алгоритм пробуждения монстров
Bit11=11

//4096
Flag12=Включить баг с изменением максимального кол-ва здоровья через DEHACKED
Bit12=12

//8192
Flag13=Игнорировать двусторонние линии внутри секторов при трассировке выстрелов
Bit13=13

//16384
Flag14=Монстры застревают на высоких обрывах (dropoffs)
Bit14=14

//1073741824
Flag15=Монстры не могут пересечь высокие обрывы (dropoffs)
Bit15=30

//65536
Flag16=Монстры видят полуневидимых игроков
Bit16=16

//32768
Flag17=Аддитивные движущиеся полы Boom
Bit17=15

//134217728
Flag18=Полы, перемещающиеся немедленно издают звук
Bit18=27

//268435456
Flag19=Использовать центр сектора как источник звука (в секторе)
Bit19=28

//536870912
Flag20=Включить стандартную высоту снарядов
Bit20=29

//2097152
//Flag21=A_BossDeath любого монстра включает босс-триггер на уровне
//Bit21=21

//131072
Flag21=Ограниченная свобода перемещения в воздухе
Bit21=17

//4194304
//Flag22=Минотавры из Heretic не могут атаковать огнем в воде, лаве и т.д.
//Bit22=22

//262144
Flag22=Игроки могут поднимать предметы, находящиеся за стенами (если предмет размещен слишком близко к стене)
Bit22=18

//8388608
//Flag23=Оригинальный алгоритм A_Mushroom (как в MBF)
//Bit23=23

//524288
Flag23=Разрешить немедленный респаун
Bit23=19

//1048576
Flag24=Запретить taunt'ы
Bit24=20

//2097152
Flag25=Оригинальный алгоритм затихания звуков с увеличением дистанции
Bit25=21

//4194304
Flag26=Включить старую графику и музыку между уровнями (intermission)
Bit26=22

//8388608
Flag27=Отключить стелс-монстров
Bit27=23

Flag28=Повреждения по радиусу имеют бесконечную высоту
Bit28=24

Flag29=Запретить использование прицела
Bit29=25

Flag30=Переключаться на оружие каждый раз при его взятии
Bit30=26

//16777216
//Flag24=На всех монстров действуют эффекты трения, ветра и т.д.
//Bit24=24

//33554432
//Flag25=Раздавленные монстры могут быть воскрешены
//Bit25=25

//67108864
//Flag26=Дружественные монстры проходят через линии "block monsters"
//Bit26=26

//134217728
//Flag27=Оригинальный алгоритм сортировки спрайтов
//Bit27=27

//268435456
//Flag28=Оригинальный алгоритм трассировки пуль
//Bit28=28

//1073741824
//Оригинальный алгоритм рендеринга полиобъектов (как в Hexen)
//Bit30=30

Param=+compatflags
Port=Skulltag
//NotUseIfEqual=0
Default=0
NotUsedInClientMode=1
DependsOn0=CompatMode_ST
DependValue0=+compatmode 1
DependCondition0=NotEqual
DependsOn1=CompatMode_ST
DependValue1=+compatmode 2
DependCondition1=NotEqual
DependsOn2=CompatMode_ST
DependValue2=+compatmode 3
DependCondition2=NotEqual
DependsOn3=CompatMode_ST
DependValue3=+compatmode 4
DependCondition3=NotEqual
DependMode=AND
</CompatFlags_ST>

<CompatFlags2_ST>
SettingName=Совместимость (доп.)
SettingDescription=Больше настроек совместимости.
SettingType=BitFlags
NotUsedInClientMode=1

//1
Flag0=Включить старый алгоритм ACS NET скриптов
Bit0=0

//2
Flag1=Включить команду GetPlayerInput в скриптах на стороне сервера
Bit1=1

//4
Flag2=Запретить игрокам использовать команду land
Bit2=2

Param=+compatflags2
Port=Skulltag
NotUseIfEqual=0
Default=0
</CompatFlags2_ST>

<CompatMode_ST>
SettingName=Профиль совместимости
SettingDescription=Выберите один из заранее настроенных профилей совместимости для игры на старых картах
SettingType=List
NotUsedInClientMode=1

Item0=Doom
Value0=+compatmode 1
Item1=Doom (строгий)
Value1=+compatmode 2
Item2=Boom
Value2=+compatmode 3
Item3=ZDoom 2.0.63
Value3=+compatmode 4

AddEmptyItem=True

Port=Skulltag
Default=
DependsOn0=CompatFlags_ST
DependCondition0=Equal
DependValue0=0
</CompatMode_ST>

<NoMonsterInterpolation>
SettingName=Отключить интерполяцию движения монстров
SettingDescription=Отключает интерполяцию в алгоритме перемещения монстров. Не влияет на AI.
SettingType=Boolean
Param=+nomnonsterinterpolation true
Default=False
</NoMonsterInterpolation>

<Gravity>
SettingName=Гравитация
SettingDescription=Уровень гравитации
SettingType=TrackBar
MinValue=0
MaxValue=800
Param=+sv_gravity
NotUseIfEqual=800
Default=800
NotUsedInClientMode=1
Frequency=10
</Gravity>

<AirControl>
SettingName=Air Control
SettingDescription=Как игроки могут двигаться в прыжке
SettingType=Float
MinValue=0.0
MaxValue=1.0
Param=+sv_aircontrol
NotUseIfEqual=0.00390625
Default=0.00390625
NotUsedInClientMode=1
</AirControl>

<LogFile>
SettingName=Лог-файл
SettingDescription=Записывать в файл все игровые сообщения и события. Уже существующий файл будет перезаписан!
SettingType=FileName
Param=+logfile
NotUseIfEqual=
Default=
</LogFile>

<Width>
SettingName=Ширина экрана
SettingDescription=Настройка разрешения экрана
SettingType=Integer
Param=-width
NotUseIfEqual=0
Default=0
</Width>

<Height>
SettingName=Высота экрана
SettingDescription=Настройка разрешения экрана
SettingType=Integer
Param=-height
NotUseIfEqual=0
Default=0
</Height>

<ConfigFile>
SettingName=Свой файл конфигурации
SettingDescription=Укажите файл конфигурации, из которого ZDoom будет загружать настройки, игнорируя файл по умолчанию. Если файл не существует, он будет создан.
SettingType=FileName
Param=-config
NotUseIfEqual=
Default=
</ConfigFile>

<RecordDemo>
SettingName=Запись демки
SettingDescription=Запись игрового процесса в специальный файл. Демки совместимы только с той версией порта, на которой ее записывали.
SettingType=FileName
Param=-record
NotUseIfEqual=
Default=
</RecordDemo>

<SaveDir>
SettingName=Папка для сохранений
SettingDescription=Использовать собственную папку для сохранений.
SettingType=FolderName
Param=-savedir
NotUseIfEqual=
Default=
</SaveDir>

<FastWeapons>
SettingName=Скорость стрельбы оружия
SettingDescription=Скорость стрельбы оружия. Не рекомендуется менять с оружием, имеющим специфические функции, например, перезарядку.
SettingType=List
Item0=Нормальная
Value0=0
Item1=Быстрая
Value1=1
Item2=Очень быстрая
Value2=2
Param=+sv_fastweapons
NotUseIfEqual=0
Default=0
NotUsedInClientMode=1
</FastWeapons>

<Infighting>
SettingName=Борьба между монстрами
SettingDescription=Настроить, какие виды монстров могут воевать друг с другом
SettingType=List
Item0=Никто
Value0=-1
Item1=По умолчанию
Value1=0
Item2=Все
Value2=1
NotUseIfEqual=0
Default=0
NotUsedInClientMode=1
Param=+infighting
</Infighting>

<UnlimitedPickup>
SettingName=Разрешить поднимать предметы при превышении максимального лимита
SettingDescription=Разрешает поднимать предметы, даже если их максимальное количество в инвентаре уже достигнуто
SettingType=Boolean
Param=+sv_unlimited_pickup 1
NotUsedInClientMode=1
NotUseIfEqual=False
Default=False
</UnlimitedPickup>

<NoBlockmap>
SettingName=Выключить BLOCKMAP
SettingDescription=Игнорировать файлы модели коллизий на уровнях. ZDoom сгенерирует их сам.
SettingType=Boolean
Param=-blockmap
NotUseIfEqual=False
Default=False
NotUsedInClientMode=1
</NoBlockmap>

<NoIdle>
SettingName=Выключить idle-режим при свертывании
SettingDescription=ZDoom не будет автоматически снижать приоритет процесса при свертывании.
SettingType=Boolean
Param=-noidle
NotUseIfEqual=False
Default=False
</NoIdle>

<NoJoy>
SettingName=Выключить джойстик
SettingDescription=Отключить поддержку джойстика
SettingType=Boolean
Param=-nojoy
NotUseIfEqual=False
Default=False
</NoJoy>

<ShowFPS>
SettingName=Показывать FPS
SettingDescription=Показывает количество кадров в секунду
SettingType=Boolean
Param=+vid_fps 1
NotUseIfEqual=False
Default=False
</ShowFPS>

<Ticker>
SettingName=Показывать точки внизу экрана
SettingDescription=Показывает количество точек, равное количеству тиков (1/35 секунды), затраченных на обработку кадра
SettingType=Boolean
Param=+ticker 1
NotUseIfEqual=False
Default=False
</Ticker>

<Noise>
SettingName=Показывать статус звуковых каналов
SettingDescription=Показывает статус всех звуковых каналов во время игры
SettingType=Boolean
Param=+noise 1
NotUseIfEqual=False
Default=False
</Noise>

<Tilt>
SettingName=Принудительно обрабатывать сектора как наклонные поверхности
SettingDescription=Заставляет обрабатывать все секторы как наклонные поверхности, даже если они не наклонены
SettingType=Boolean
Param=+tilt 1
NotUseIfEqual=False
Default=False
</Tilt>

<DumpSpawnedThings>
SettingName=Показывать лог предметов, созданных на карте
SettingDescription=Выводит в консоль все предметы, созданные на карте
SettingType=Boolean
Param=+dumpspawnedthings 1
NotUseIfEqual=False
Default=False
NotUsedInClientMode=1
</DumpSpawnedThings>

<NoCDAudio>
SettingName=Отключить CD-музыку
SettingDescription=Выключить CD-музыку
SettingType=Boolean
Param=-nocdaudio
NotUseIfEqual=False
Default=False
DependsOn0=NoSound
DependCondition0=Equal
DependValue0=False
</NoCDAudio>

<NoMusic>
SettingName=Отключить музыку
SettingDescription=Выключить всю внутриигровую музыку
SettingType=Boolean
Param=-nomusic
NotUseIfEqual=False
Default=False
DependsOn0=NoSound
DependCondition0=Equal
DependValue0=False
</NoMusic>

<NoSFX>
SettingName=Отключить звуки
SettingDescription=Отключить все игровые звуки, за исключением музыки. Используйты предыдующую опцию для ее отключения
SettingType=Boolean
Param=-nosfx
NotUseIfEqual=False
Default=False
DependsOn0=NoSound
DependCondition0=Equal
DependValue0=False
</NoSFX>

<NoSound>
SettingName=Выключить музыку и звуки
SettingDescription=Отключает все, что делают два предыдущих параметра
SettingType=Boolean
Param=-nosound
NotUseIfEqual=False
Default=False
</NoSound>

<NoStartup>
SettingName=Отключить загрузочные экраны
SettingDescription=Отключает загрузочные экраны Heretic, Hexen и Strife
SettingType=Boolean
Param=-nostartup
NotUseIfEqual=False
Default=False
</NoStartup>

<OldSprites>
SettingName=Выключить переименование спрайтов
SettingDescription=По умолчанию ZDoom переименовывает спрайты из других игр, конфликтующие по названию с IWAD'ом Doom. Включите эту опцию, чтобы не переименовывать спрайты. Полезно, если вы играете с модификацией, заменяющей оригинальные спрайты Heretic, Hexen или Strife.
SettingType=Boolean
Param=-oldsprites
NotUseIfEqual=False
Default=False
NotUsedInClientMode=1
</OldSprites>

<SVCheats>
SettingName=Включить читы на Nightmare и в мультиплеере
SettingDescription=Включает чит-коды на последнем уровне сложности и в сетевой игре
SettingType=Boolean
Param=+sv_cheats 1
NotUsedInClientMode=1
NotUseIfEqual=False
Default=False
</SVCheats>

<AllCheats>
SettingName=Включить читы из всех игр
SettingDescription=Включает чит-коды из всех IWAD'ов, например, разрешает использование IDKFA, IDBEHOLD и др. кодов Doom'а в Heretic'е, так же и наоборот.
SettingType=Boolean
Param=+allcheats 1
NotUsedInClientMode=1
NotUseIfEqual=False
Default=False
</AllCheats>

<AVG>
SettingName=Автоматически менять карту через 20 минут
SettingDescription=Игрок автоматически перемещается на следующую карту через 20 минут.
SettingType=Boolean
Param=-avg
NotUsedInClientMode=1
NotUseIfEqual=False
Default=False
DependsOn0=Timer
DependCondition0=Equal
DependValue0=0
</AVG>

<Timer>
SettingName=Менять карту через:
SettingDescription=Автоматическая смена уровня через настраиваемое количество минут.
SettingType=Integer
NotUseIfEqual=0
Param=-timer
NotUsedInClientMode=1
Default=0
DependsOn0=AVG
DependCondition0=Equal
DependValue0=False
</Timer>

<Turbo>
SettingName=Скорость игрока
SettingDescription=Увеличивает или уменьшает скорость игрока (в процентах).
SettingType=TrackBar
Frequency=5
MinValue=10
MaxValue=255
Param=-turbo
NotUseIfEqual=100
Default=100
NotUsedInClientMode=1
</Turbo>