<Map_GZ>
SettingName=Карта для игры
SettingDescription=Введите название карты, на которой следует начать игру. Например, MAP01.
SettingType=String
Param=+map
NotUseIfEqual=
Default=
NotUsedInClientMode=1
Port=GZDoom
</Map_GZ>

<Skill_GZ>
SettingName=Уровень сложности
SettingDescription=Уровень сложности игры. 1 - минимальный, 5 - максимальный.
SettingType=List
Item0=Очень простой (ITYTD)
Value0=1
Item1=Простой (HNTR)
Value1=2
Item2=Нормальный (HMP)
Value2=3
Item3=Сложный (UV)
Value3=4
Item4=Очень сложный (NM)
Value4=5
Default=2
Param=-skill
DependsOn0=Map_GZ
DependCondition0=NotEqual
DependValue0=
NotUseIfEqual=
NotUsedInClientMode=1
Port=GZDoom
</Skill_GZ>

<Map_Other>
SettingName=Номер уровня / эпизода + уровня
SettingDescription=Введите номер уровня, на котором следует начать игру. Если вы играете в Doom / Ultimate Doom, введите через пробел номера эпизода и уровня.
SettingType=String
Param=-warp
NotUseIfEqual=
Default=
NotUsedInClientMode=1
Port=Unknown
</Map_Other>

<Skill_Other>
SettingName=Уровень сложности
SettingDescription=Уровень сложности игры. 1 - минимальный, 5 - максимальный.
SettingType=List
Item0=Очень простой (ITYTD)
Value0=1
Item1=Простой (HNTR)
Value1=2
Item2=Нормальный (HMP)
Value2=3
Item3=Сложный (UV)
Value3=4
Item4=Очень сложный (NM)
Value4=5
Default=2
Param=-skill
DependsOn0=Map_Other
DependCondition0=NotEqual
DependValue0=
NotUseIfEqual=
NotUsedInClientMode=1
Port=Unknown
</Skill_Other>

<DMFlags>
SettingName=Настройки DMFlags
SettingDescription=Настроить параметры игры. Некоторые действуют только в мультиплеере.
SettingType=BitFlags
NotUsedInClientMode=1

//8
Flag0=Повреждения при падении (старый алгоритм). Вместе со следующим флагом - алгоритм Strife.
Bit0=3

//16
Flag1=Повреждения при падении (алгоритм Hexen). Вместе с предыдущим флагом - алгоритм Strife.
Bit1=4

//2048
Flag2=Бесконечные боеприпасы
Bit2=11

//4096
Flag3=Выключить монстров
Bit3=12

//8192
Flag4=Восстанавливать монстров
Bit4=13

//16384
Flag5=Восстанавливать предметы
Bit5=14

//32768
Flag6=Быстрые монстры
Bit6=15

//65536
Flag7=Запретить прыжки (если выключить оба флага, то по умолчанию)
Bit7=16
FlagGroup7=AllowDisallowJump

//131072
Flag8=Разрешить прыжки (если выключить оба флага, то по умолчанию)
Bit8=17
FlagGroup8=AllowDisallowJump

//4194304
Flag9=Запретить приседания (если выключить оба флага, то по умолчанию)
Bit9=22
FlagGroup9=AllowDisallowCrouch

//8388608
Flag10=Разрешить приседания (если выключить оба флага, то по умолчанию)
Bit10=23
FlagGroup10=AllowDisallowCrouch

//262144
Flag11=Запретить фрилук (если выключить оба флага, то по умолчанию)
Bit11=18
FlagGroup11=AllowDisallowFreelook

//524288
Flag12=Разрешить фрилук (если выключить оба флага, то по умолчанию)
Bit12=19
FlagGroup12=AllowDisallowFreelook

//1048576
Flag13=Запретить изменять FOV
Bit13=20

//4
Flag14=Оружие остаётся после взятия (только DM)
Bit14=2

//2
Flag15=Запретить powerup'ы (только DM)
Bit15=1

//1
Flag16=Запретить аптчеки (только DM)
Bit16=0

//512
Flag17=Запретить броню (только DM)
Bit17=9

//128
Flag18=Респаун игроков на наибольшем расстоянии (только DM)
Bit18=7

//64
Flag19=Играть на одной и той же карте (только DM)
Bit19=6

//256
Flag20=Принудительный респаун (только DM)
Bit20=8

//1024
Flag21=Запретить выход с уровня (только DM)
Bit21=10

//2097152
Flag22=Выключить мультиплеерное оружие (только кооператив)
Bit22=21

//16777216
Flag23=Терять весь инвентарь при респауне (только кооператив)
Bit23=24

//33554432
Flag24=Терять ключи при респауне (только кооператив)
Bit24=25

//67108864
Flag25=Терять оружие при респауне (только кооператив)
Bit25=26

//134217728
Flag26=Терять броню при респауне (только кооператив)
Bit26=27

//268435456
Flag27=Терять powerup'ы при респауне (только кооператив)
Bit27=28

//536870912
Flag28=Терять патроны при респауне (только кооператив)
Bit28=29

//1073741824
Flag29=Терять половину патронов при респауне (только кооператив)
Bit29=30

Param=+dmflags
NotUseIfEqual=0
Default=0
NotUsedInClientMode=1
Port=GZDoom
</DMFlags>

<DMFlags2>
SettingName=Настройки DMFlags2
SettingDescription=Больше параметров игры. Некоторые действуют только в мультиплеере.
SettingType=BitFlags

//2
Flag0=Выбрасывать оружие при смерти
Bit0=1

//64
Flag1=Двойное количество боеприпасов
Bit1=5

//65536
Flag2=Бесконечные предметы
Bit2=16

//131072
Flag3=Запретить выход с уровня, пока все монстры не убиты
Bit3=17

//16384
Flag4=Запретить респаун игроков
Bit4=14

//134217728
Flag5=Восстанавливать мощные powerup'ы
Bit5=27

//128
Flag6=Здоровье убывает, если выше 100%
Bit6=7

//8388608
Flag7=Запретить авто-прицеливание
Bit7=23

//4194304
Flag8=Запретить самоубийство
Bit8=22

//256
Flag9=Запретить прицеливание BFG по вертикали
Bit9=8

//262144
Flag10=Запретить показывать карту
Bit10=18

//524288
Flag11=Не отображать союзников на карте
Bit11=19

//1048576
Flag12=Запретить наблюдать за союзниками
Bit12=20

//2097152
Flag13=Разрешить включать вид от третьего лица
Bit13=21

//16777216
Flag14=Запретить переключение на оружие, если нет патронов
Bit14=24

//33554432
Flag15=Убийство финального босса убивает всех его монстров
Bit15=25

//67108864
Flag16=Монстры в зоне выхода не учитываются счётчиком
Bit16=26

//512
Flag17=Восстанавливать бочки (только DM)
Bit17=9

//1024
Flag18=Временная неуязвимость после респауна (только DM)
Bit18=10

//32768
Flag19=Потеря фрага при убийстве другим игроком (только DM)
Bit19=15

//8192
Flag20=Сохранять фраги при переходе на другую карту (только DM)
Bit20=13

//16
Flag21=Запретить переход из одной команды в другую (только DM)
Bit21=4

//4096
Flag22=Респаун на месте смерти (только кооператив)
Bit22=12

Param=+dmflags2
NotUseIfEqual=0
Default=0
NotUsedInClientMode=1
Port=GZDoom
</DMFlags2>

<EnableCheats>
SettingName=Включить читы на Nightmare и в мультиплеере
SettingDescription=Включает чит-коды на последнем уровне сложности и в сетевой игре
SettingType=Boolean
Param=+sv_cheats 1
NotUsedInClientMode=1
NotUseIfEqual=False
Default=False
Port=GZDoom
</EnableCheats>

<AllCheats>
SettingName=Включить читы из всех игр
SettingDescription=Включает чит-коды из всех IWAD'ов, например, разрешает использование IDKFA, IDBEHOLD и др. кодов Doom'а в Heretic'е, так же и наоборот.
SettingType=Boolean
Param=+allcheats 1
NotUsedInClientMode=1
NotUseIfEqual=False
Default=False
Port=GZDoom
</AllCheats>

<RecordDemo>
SettingName=Запись демки
SettingDescription=Запись игрового процесса в специальный файл. Демки совместимы только с той версией порта, на которой ее записывали.
SettingType=FileName
Param=-record
NotUseIfEqual=
Default=
</RecordDemo>

<LogFile>
SettingName=Лог-файл
SettingDescription=Записывать в файл все игровые сообщения и события. Уже существующий файл будет перезаписан!
SettingType=FileName
Param=+logfile
NotUseIfEqual=
Default=
Port=GZDoom
</LogFile>

<ConfigFile>
SettingName=Свой файл конфигурации
SettingDescription=Укажите файл конфигурации, из которого GZDoom будет загружать настройки, игнорируя файл по умолчанию. Если файл не существует, он будет создан.
SettingType=FileName
Param=-config
NotUseIfEqual=
Default=
</ConfigFile>

<SaveDir>
SettingName=Папка для сохранений
SettingDescription=Использовать собственную папку для сохранений.
SettingType=FolderName
Param=-savedir
NotUseIfEqual=
Default=
Port=GZDoom
</SaveDir>

<NoMusic>
SettingName=Отключить музыку
SettingDescription=Выключить всю внутриигровую музыку
SettingType=Boolean
Param=-nomusic
NotUseIfEqual=False
Default=False
DependsOn0=NoSound
DependCondition0=Equal
DependValue0=False
</NoMusic>

<NoSFX>
SettingName=Отключить звуки
SettingDescription=Отключить все игровые звуки, за исключением музыки. Используйты предыдующую опцию для ее отключения
SettingType=Boolean
Param=-nosfx
NotUseIfEqual=False
Default=False
DependsOn0=NoSound
DependCondition0=Equal
DependValue0=False
</NoSFX>

<NoSound>
SettingName=Выключить музыку и звуки
SettingDescription=Отключает все, что делают два предыдущих параметра
SettingType=Boolean
Param=-nosound
NotUseIfEqual=False
Default=False
</NoSound>

<NoStartup>
SettingName=Отключить загрузочные экраны
SettingDescription=Отключает загрузочные экраны Heretic, Hexen и Strife
SettingType=Boolean
Param=-nostartup
NotUseIfEqual=False
Default=False
Port=GZDoom
</NoStartup>
