// Это файл описания настроек игры
// Он не обрабатывается приложением
// Формат описания настроек:
// <ИмяНастройки> - начало описания настройки, ИмяНастройки - внутреннее имя настройки
// </ИмяНастройки> - конец описание настройки
// SettingName - отображаемое название
// SettingDescription - описание настройки
// SettingType - тип данных: 
//    Integer - целое число
//    String - строка
//    Boolean - логический признак
//    Float - вещественное число
//    TrackBar - ползунок
//    FileName - имя файла
//    BitFlags - набор битовых флагов
//    List - список выбора 
//    FolderName - имя папки

// MinValue - минимальное значение параметра (для типов Integer, Float, TrackBar)
// MaxValue - максимальное значение параметра (для типов Integer, Float, TrackBar)
// Param - параметр, который будет добавлен в командную строку
// FalseParam - значение параметра False (для типа Boolean)
// Frequency - расстояние между делениями для типа TrackBar
// Flag<n> - название n-го битового флага (только для типа BitFlags)
// Bit<n> - номер бита, с которым связан n-й битовый флаг (только для типа BitFlags)
// FlagGroup<n> - идентификатор (строка) группы n-го флага. Из одной группы может быть включен только один флаг (только для типа BitFlags)
// Item<n> - название n-го пункта списка выбора (только для типа List)
// Value<n> - значение n-го пункта списка выбора (только для типа List)
// Port - названия портов, для которых используется эта настройка, через запятую:
//    ZDoom, GZDoom, SkullTag, Unknown
// NotUseIfEqual - значение настройки, про котором настройку не надо добавлять в команду. Если не задано, то настройка добавляется всегда
// AddEmptyItem - добавить в список пустой пункт (только для типа List)
// Default - значение по умолчанию
// NotUsedInClientMode - не показывать настройку в сетевом режиме "Клиент"
// DependsOn<n> - n-ая настройка, от которой зависит доступность текущей
// DependCondition<n> - n-ое условие зависимости. Может принимать значения:
//    Equal - равно
//    NotEqual - не равно
//    Higher - больше
//    EqualOrHigher - больше или равно
//    Lower - меньше
//    EqualOrLower - меньше или равно
// DependValue<n> - n-ое значение для сравнения 
// DependMode - режим проверки зависимостей значений, может принимать значения OR, AND
// IWADNames - названия IWAD через запятую, для который настройка видна. Если не задано, то для всех