<Host>
SettingName=Количество игроков
SettingDescription=Укажите количество игроков для сетевой игрв
SettingType=Integer
MinValue=2
MaxValue=8
Param=-host
Default=2
</Host>

<Port>
SettingName=Номер порта
SettingDescription=Укажите TCP-порт, к которому будут подключаться клиенты
SettingType=Integer
MinValue=1
MaxValue=65535
NotUseIfEqual=5029
Default=5029
Param=-port
</Port>

<Deathmatch_GZ>
SettingName=Deathmatch
SettingDescription=Включить Deathmatch-режим
SettingType=Boolean
Param=+deathmatch 1
NotUseIfEqual=False
Port=GZDoom
</Deathmatch_GZ>

<Deathmatch_Other>
SettingName=Deathmatch
SettingDescription=Включить Deathmatch-режим
SettingType=Boolean
Param=-deathmatch
NotUseIfEqual=False
Port=Unknown
DependsOn0=AltDeath
DependCondition0=Equal
DependValue0=False
</Deathmatch_Other>

<AltDeath>
SettingName=Deathmatch 2.0
SettingDescription=Включить режим Deathmatch с респауном предметов и оружия
SettingType=Boolean
Param=-altdeath
NotUseIfEqual=False
Port=Unknown
DependsOn0=Deathmatch_Other
DependCondition0=Equal
DependValue0=False
</AltDeath>

<TeamPlay>
SettingName=Командный режим
SettingDescription=Включить командный Dathmatch-режим
SettingType=Boolean
Param=+teamplay 1
NotUseIfEqual=False
DependsOn0=Deathmatch_GZ
DependValue0=True
DependCondition0=Equal
Port=GZDoom
</TeamPlay>

<Fraglimit>
SettingName=Лимит фрагов (Deathmatch)
SettingDescription=Количество фрагов, необходимое для выигрыша. 0 - игнорируется
SettingType=Integer
MinValue=0
MaxValue=999
Param=+fraglimit
NotUseIfEqual=0
Default=0
DependsOn0=Deathmatch_GZ
DependCondition0=Equal
DependValue0=True
Port=GZDoom
</Fraglimit>

<Timelimit>
SettingName=Лимит времени (Deathmatch)
SettingDescription=Количество минут, по истечении которых игра заканчивается. 0 - игнорируется
SettingType=Integer
MinValue=0
MaxValue=999
Param=+timelimit
NotUseIfEqual=0
Default=0
DependsOn0=Deathmatch_GZ
DependCondition0=Equal
DependValue0=True
Port=GZDoom
</Timelimit>

<NetMode>
SettingName=Режим передачи данных
SettingDescription=Выберите режим передачи данных в сетевой игре
SettingType=List
Item0=Точка-точка
Value0=0
Item1=Клиент-сервер
Value1=1
NotUseIfEqual=0
Default=0
Param=-netmode
Port=GZDoom
</NetMode>

<TeamDamage>
SettingName=Friendly Fire
SettingDescription=Процент повреждений, который получают игроки от игроков своей команды
SettingType=TrackBar
Frequency=0.05
MinValue=0.0
MaxValue=1.0
Default=0.0
NotUseIfEqual=0
Param=+teamdamage
Port=GZDoom
</TeamDamage>
