<Connect>
SettingName=IP сервера
SettingDescription=¬ведите IP-адрес или им€ сервера, можно так же ввести порт через двоеточие
SettingType=String
Param=-join
Port=ZDoom,GZDoom
Default=localhost
</Connect>

<Connect_ST>
SettingName=IP сервера
SettingDescription=¬ведите IP-адрес или им€ сервера, можно так же ввести порт через двоеточие
SettingType=String
Param=-connect
Port=Skulltag
Default=localhost
</Connect_ST>