<PlayDemo>
SettingName=Играть демку
SettingDescription=Проиграть демо-файл.
SettingType=FileName
Param=-playdemo
NotUseIfEqual=
Default=
</PlayDemo>

<DebugMode>
SettingName=Режим разработчика
SettingDescription=Показывать отладочные сообщения в консоли
SettingType=Boolean
Param=+set developer 1
NotUseIfEqual=False
Default=False
</DebugMode>